*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #333;
}

.bttn-warning {
  color: black;
  width: 150px;
  text-transform: uppercase;
  margin-top: 10px;
}

.btn-container {
  width: 150px;
  height: 50px;
  margin: 40px auto;
  background-color: white;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.btn-container .btn {
  border-radius: 0;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-container p {
  color: black;
  margin-bottom: 0;
  z-index: -1;
}

.btn-color {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -20px;
  left: -20px;
  color: white;
  background-color: #ffd700;
  z-index: -4;
  -webkit-transition: .3s;
  transition: .3s;
}

.jumbotron {
  margin: 0;
}

.os-animation {
  visibility: hidden;
}

.scroll-fix::before {
  content: '';
  display: block;
  height: 67px;
  margin-top: -67px;
}

.wrapper {
  width: 80%;
  color: gold;
  margin: 0 auto;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 30px;
  position: relative;
}

h2::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: gold;
}

h2::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: gold;
}

nav {
  text-transform: uppercase;
  background-color: white;
  -webkit-transition: all .4s;
  transition: all .4s;
}

nav a, nav i {
  color: #535151;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav .active {
  color: gold;
}

nav a:hover {
  color: gold;
}

nav i {
  padding: 10px;
  color: gold;
}

nav .navbar-brand {
  font-weight: bold;
  font-size: 16px;
}

nav .navbar-brand:hover {
  color: gold;
}

header {
  height: 100vh;
  background-color: gold;
  position: relative;
  overflow: hidden;
}

header .hero-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  height: 100%;
  padding: 0 30px;
  text-transform: uppercase;
  position: relative;
}

header .hero-text h1 {
  font-size: 40px;
  margin-right: 30px;
  color: rgba(39, 37, 37, 0.87);
}

header .hero-text .fa-chevron-down {
  display: none;
}

header .square {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50%;
  height: 200px;
}

header .skew-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  -webkit-transform: skewY(-40deg);
  transform: skewY(-40deg);
  background-color: white;
}

#mszeswiete .jumbotron-fluid {
  background-color: #f7f7f7;
}

#mszeswiete .jumbotron-fluid .grid-container {
  margin: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
}

#mszeswiete .jumbotron-fluid .grid-container .cross {
  height: auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

#mszeswiete .jumbotron-fluid .grid-container .cross i {
  font-size: 100px;
  text-shadow: 0 0 5px #000000;
}

#mszeswiete .jumbotron-fluid .grid-container .information {
  text-align: center;
}

#mszeswiete .jumbotron-fluid .grid-container .information h3 {
  font-size: 20px;
  color: black;
  opacity: .7;
}

#mszeswiete .jumbotron-fluid .grid-container .information .btn-container {
  width: 200px;
  height: 70px;
  margin: 40px auto;
  background-color: white;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

#mszeswiete .jumbotron-fluid .grid-container .information .btn-container p {
  color: black;
}

#quotation {
  min-height: 500px;
}

#quotation .background {
  background-image: url("../img/oltarz.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
  height: 100%;
}

#quotation .background .box-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#quotation .background .box-shadow .wrapper {
  height: 80%;
}

#quotation .background .box-shadow .wrapper .quatation-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#quotation .background .box-shadow .wrapper .quatation-box .quotation-text {
  color: white;
  font-size: 13px;
  text-align: center;
  letter-spacing: 5px;
  line-height: 25px;
}

#quotation .background .box-shadow .wrapper .quatation-box p {
  text-align: right;
  font-size: 18px;
}

#grupy-parafialne {
  overflow: hidden;
}

#grupy-parafialne .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0;
}

#grupy-parafialne .cards .card {
  width: 100%;
  margin: 2rem 1rem;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.95);
          box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.95);
}

#grupy-parafialne .cards .card img {
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

#grupy-parafialne .cards .card .card-text {
  color: black;
  opacity: .7;
  font-size: 13px;
}

#grupy-parafialne .cards .card .btn-container {
  margin: 20px auto;
  width: 150px;
  height: 50px;
}

#prenumerata {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
}

#prenumerata .jumbotron {
  background-color: #fff;
}

#prenumerata .jumbotron h2::before, #prenumerata .jumbotron h2::after {
  width: 30px;
}

#prenumerata .prenumerata-grid-container {
  padding: 80px 0;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 2rem;
}

#prenumerata .prenumerata-grid-container .prenumerata-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#prenumerata .prenumerata-grid-container .prenumerata-grid-item .left-column {
  width: 30%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

#prenumerata .prenumerata-grid-container .prenumerata-grid-item .left-column img {
  width: 80%;
}

#prenumerata .prenumerata-grid-container .prenumerata-grid-item .right-column {
  width: 70%;
}

#prenumerata .prenumerata-grid-container .prenumerata-grid-item .right-column h3 {
  text-align: center;
}

#prenumerata .prenumerata-grid-container .prenumerata-grid-item .right-column p {
  font-size: 11px;
  padding-top: 15px;
  color: black;
  opacity: .7;
  text-transform: initial;
}

#prenumerata .prenumerata-grid-container .prenumerata-grid-item .right-column .btn-container .btn p {
  text-transform: uppercase;
}

#prenumerata .prenumerata-grid-container .prenumerata-grid-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#prenumerata .prenumerata-grid-container .prenumerata-grid-item:nth-child(even) .left-column img {
  float: right;
}

#kontakt .background {
  width: 100%;
  height: 100%;
  background-image: url(/img/footer-img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

#kontakt .background .box-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#kontakt .background .box-shadow .wrapper h5 {
  font-size: 15px;
}

#kontakt .background .box-shadow .wrapper h2 {
  margin-top: 30px;
}

#kontakt .background .box-shadow .wrapper .parish-office {
  padding-top: 30px;
}

#kontakt .background .box-shadow .wrapper .parish-office p {
  margin-bottom: 0;
  font-size: 12px;
}

#kontakt .background .box-shadow .wrapper .parish-office h4 {
  padding-bottom: 15px;
  font-size: 16px;
}

#kontakt .background .box-shadow .wrapper .parish-office .summer-period {
  color: white;
  padding-bottom: 10px;
}

#kontakt .background .box-shadow .wrapper .parish-office .days-of-the-week {
  color: white;
}

#kontakt .background .box-shadow .wrapper .parish-office .time {
  color: papayawhip;
}

#kontakt .background .box-shadow .wrapper .parish-office .winter-period {
  padding-top: 10px;
  color: white;
}

#kontakt .background .box-shadow .wrapper .contact-box {
  padding-top: 30px;
}

#kontakt .background .box-shadow .wrapper .contact-box h4 {
  padding-bottom: 15px;
  font-size: 16px;
}

#kontakt .background .box-shadow .wrapper .contact-box h5 {
  color: white;
}

#kontakt .background .box-shadow .wrapper .contact-box p {
  color: papayawhip;
  text-transform: initial;
  font-size: 12px;
}

footer p {
  text-align: center;
  padding: 15px;
  color: #fff;
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 374px) {
  .wrapper h2 {
    font-size: 20px;
  }
  .wrapper h2::after {
    width: 40px;
    height: 3px;
    left: 2%;
  }
  .wrapper h2:before {
    width: 40px;
    height: 3px;
    right: 2%;
  }
  nav .navbar-brand {
    font-size: 12px;
  }
  nav .navbar-brand i {
    font-size: 22px;
  }
  header .hero-text h1 {
    font-size: 25px;
  }
  #prenumerata .prenumerata-grid-container .prenumerata-grid-item .right-column h3 {
    font-size: 1rem;
  }
}

#grupy-parafialne h2 {
  font-size: 30px;
}

#grupy-parafialne .card-body {
  padding: 1rem;
  min-height: initial;
}

@media (orientation: landscape) {
  header .skew-box {
    width: 100%;
    height: 40%;
    left: 30%;
  }
  header .hero-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: initial;
    width: 70%;
  }
  header .hero-text h1 {
    font-size: 36px;
  }
}

@media (min-width: 568px) and (max-width: 660px) and (orientation: landscape) {
  header .hero-text h1 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=main.css.map */